body {
  background: #0099f7;
  background: -webkit-linear-gradient(to bottom, #f11712, #0099f7);
  background: linear-gradient(to bottom, #f11712, #0099f7);
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

p {
  font: bold;
  font-size: x-large;
}

input {
  font: bold;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 15px;
  margin: auto;
  width: 15%;
  padding: 15px 15px;
}

button {
  cursor: pointer;
  font: bold;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 25px 100% 25rem 43rem;
  width: 9%;
  padding: 15px 10px;
}

footer {
  direction: ltr;
  flex-direction: row;
  font-size: xx-large;
  text-align: center;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blac;
  text-align: center;
}

#output-box {
  text-align: center;
  font: bold;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 15px;
  margin: -24rem 73rem -40px 630px;
  width: 15%;
  padding: 15px 15px;
}

ul {
  list-style-type: none;
  display: inline-block;
}

.fab {
  color: black;
  font-size: 50px;
}

.fas {
  color: black;
  font-size: 50px;
}

footer ul li {
  display: inline;
  float: left;
  padding: 15px 15px 15px 14px;
}
